.carousel-item{
  height: 600px;
}
.carousel-image-1{
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), 
  url('../assets/img1.jpg');
  background-size: cover;
}
.carousel-image-2{
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
   url('../assets/img2.jpg');
  background-size: cover;
}
.h-color{
  color:#fff;

}
.btn-color{
  background: #000;
  color: #fff;
}
.btn-color:hover{
  color: #fff;
}
/* Wobble Vertical */
@-webkit-keyframes slide-btn {
  16.65% {
         transform: translateY(8px);
  }
  33.3% {
   transform: translateY(-6px);
  }
  49.95% {
      transform: translateY(4px);
  }
  66.6% {
       transform: translateY(-2px);
  }
  83.25% {
       transform: translateY(1px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes slide-btn {
  16.65% {
    
    transform: translateY(8px);
  }
  33.3% {
    
    transform: translateY(-6px);
  }
  49.95% {
    
    transform: translateY(4px);
  }
  66.6% {
   
    transform: translateY(-2px);
  }
  83.25% {
   
    transform: translateY(1px);
  }
  100% {
   
    transform: translateY(0);
  }
}
.slide-btn {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.slide-btn:hover, .slide-btn:focus, .slide-btn:active {
  
  animation-name: slide-btn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}