body{
    font-family: 'Poppins', sans-serif;
}
.navbar .nav-link{
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.navbar-toggler{
    outline: none !important;
}
.bg-black{
    background: #000;
}